:root{
	--color-light: #FFFFFF;
	--color-dark: #FAFBFC;
	--color-primary: #DF5339;

	--color-light-gray-text: #B3BBC6;
	--color-gray-text: #979797;
	--color-primary-text: #000000;
	--color-bg-09: rgba(255,255,255,0.75);
	--color-divider: rgba(0,0,0,0.25);
}