@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 300;
	src:	url('./fonts/futura-light-bt.woff') format('woff'),
			url('./fonts/futura-light-bt.ttf') format('ttf');
}

@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 400;
	src:	url('./fonts/Futura-Heavy-font.woff') format('woff'),
			url('./fonts/Futura-Heavy-font.ttf') format('ttf');
}

@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 500;
	src:	url('./fonts/futura-medium-bt.woff') format('woff'),
			url('./fonts/futura-medium-bt.ttf') format('ttf');
}

@font-face {
	font-family: 'Futura';
	font-style: normal;
	font-weight: 700;
	src:	url('./fonts/Futura-Bold-font.woff') format('woff'),
			url('./fonts/Futura-Bold-font.ttf') format('ttf');
}

body {
	margin: 0;
	font-family: 'Futura', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-light);
	min-width: 335px;
}

* {
	box-sizing: border-box;
}

.top-bar {
	background-color: var(--color-dark);
	padding-top: 20px;
	padding-bottom: 20px;
	flex-direction: column;
	display: flex;
}

.icon-primary-color {
	color: var(--color-primary);
}

.theme-toggle-container{
	width: 80px;
	height: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.theme-toggle-wrap {
	height: 20px;
	width: 35px;
	border-radius: 20px;
	border: 2px solid var(--color-light-gray-text);
	cursor: pointer;
	display: flex;
	align-items: center;
}

.toggle-go-dark{
	animation-name: ToggleGoDark;
	-moz-animation-name: ToggleGoDark;
	-o-animation-name: ToggleGoDark;
	-webkit-animation-name: ToggleGoDark;
}

.toggle-go-light{
	animation-name: ToggleGoLight;
	-moz-animation-name: ToggleGoLight;
	-o-animation-name: ToggleGoLight;
	-webkit-animation-name: ToggleGoLight;
}

@keyframes ToggleGoLight {
	from {
		margin: auto 2px auto 15px;
	}
	to {
		margin: auto 2px;
	}
}

@keyframes ToggleGoDark {
	from {
		margin: auto 2px;
	}
	to {
		margin: auto 2px auto 15px;
	}
}

.theme-toggle-thumb {
	background-color: var(--color-light-gray-text);
	border-radius: 50%;
	height: 14px;
	width: 14px;
	font-size: 10px;
	vertical-align: middle;

	animation-duration: .3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-moz-animation-duration: .3s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;

	-o-animation-duration: .3s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;

	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

.lang-select-wrap {
	color: var(--color-primary-text);
	width: 80px;
	height: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	font-size: 12px;
}

.icon-chevron-down{
	margin-top: 2px;
}

.lang-popup-wrap{
	position: absolute;
	margin-top: 10px;
	box-shadow: 0 0 1rem 0 var(--color-box-shadow);
	background-color: var(--color-bg-09);
	z-index: 2;
	width: 80px;
	border-radius: 10px;
	display: none;
	flex-direction: column;

	animation-duration: .3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-moz-animation-duration: .3s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;

	-o-animation-duration: .3s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;

	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;

}

.arrow-up{
	background-image: linear-gradient(-45deg, transparent 50%, var(--color-bg-09) 50%);
	width: 10px;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: 35.5px;
}

.lang-popup-wrap button{
	background-color: transparent;
	color: var(--color-primary-text);
	border: none;
	outline: none;
	cursor: pointer;
	flex:1;
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top: 1px solid var(--color-divider);
	font-size: 12px;
}

.lang-popup-wrap button span {
	padding-right: 5px;
}

.lang-popup-wrap button:nth-of-type(1){
	border-top: none;
}

@keyframes FadeIn {
	from {
		opacity: 0;
		display: none !important;
	}
	to{
		opacity: 1;
		display: flex !important;
	}
}

@keyframes FadeOut {
	from {
		opacity: 1;
		display: flex !important;
	}
	to{
		opacity: 0;
		display: none !important;
	}
}

.nav-row{
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-container{
	width: 80%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-left{
	width: 160px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}


.nav-right{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}

.toolbox{
	height: 30px;
	display: flex;
	width: 180px;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.logo-wrap a{
	font-size: 18px;
	color: var(--color-primary-text);
	text-decoration: none;
}

.logo-capital{
	background-color: var(--color-primary);
	color: #ffffff;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 2px;
	border-radius: 50%;
}

.nav-ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	height: 30px;
	flex: 1;
	padding-left: 0;
}

.nav-ul li{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-ul li:nth-of-type(2){
	margin-left: 20px;
}

.nav-ul li a{
	text-decoration: none;
	color: var(--color-primary-text);
	font-size: 12px;
}

.link-icon{
	vertical-align: middle;
	margin-top: -4px;
	color: var(--color-primary);
	font-size: 15px;
}

.search-container{
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.location-select{
	height: inherit;
	width: 150px;
	border-radius: 20px 0 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	border: 1px solid var(--color-light-gray-text);
}

.normal-location {
	background-color: transparent;
	border: 1px solid var(--color-light-gray-text);
}

.normal-location .all-cities-title{
	color: var(--color-primary-text);
}

.selected-location {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

.selected-location .link-icon{
	color: #ffffff;
}

.selected-location .all-cities-title{
	color: #ffffff;
}

.location-icon-wrap{
	height: inherit;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.all-cities-title{
	flex: 1;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	align-items: center;
	font-size: 12px;
}

.search-box{
	flex: 1;
	height: 40px;
	border: 1px solid var(--color-light-gray-text);
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: none;
}

.search-input{
	flex: 1;
	font-size: 12px;
	font-family: inherit;
	padding: 10px;
	border: none;
	outline: none;
	color: var(--color-gray-text);
	background-color: transparent;
	-webkit-appearance: none;
}

.search-icon-placeholder-wrap{
	border: 1px solid var(--color-light-gray-text);
	height: 40px;
	border-right: none;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	color: var(--color-gray-text);
}

.filters-box{
	width: 100px;
	height: 40px;
	border: 1px solid var(--color-light-gray-text);
	border-left: none;
	border-right: none;
	font-size: 12px;
	color: var(--color-gray-text);
	display: flex;
	flex-direction: row;
	cursor: pointer;
}

.filter-icon-wrap{
	height: inherit;
	width: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.filter-text{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.search-button{
	cursor: pointer;
	border-radius: 0 20px 20px 0;
	background-color: var(--color-primary);
	color: #ffffff;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.search-icon-label{
	display: none;
}

.search-text-label{
	display: block;
}

.category-row{
	height: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.category-wrap{
	width: 80%;
}

.category-popup{
	display: none;
	width: 100%;
	border-radius: 10px;
	background-color: var(--color-bg-09);
	box-shadow: 0 0 1rem 0 var(--color-box-shadow);
	flex-direction: column;

	animation-duration: .3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	-moz-animation-duration: .3s;
	-moz-animation-iteration-count: 1;
	-moz-animation-fill-mode: forwards;

	-o-animation-duration: .3s;
	-o-animation-iteration-count: 1;
	-o-animation-fill-mode: forwards;

	-webkit-animation-duration: .3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

.category-angle-top {
	background-image: linear-gradient(-45deg, transparent 50%, var(--color-bg-09) 50%);
	width: 10px;
	height: 10px;
	position: absolute;
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: 70px;
}

.category-actions-wrap{
	width: 100%;
	height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	display: flex;
	flex-direction: row;
}

.category-back-button{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-primary);

}

.category-selcted-view{
	height: 40px;
	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	align-items: center;
	color: var(--color-primary-text);
	font-size: 12px;
}

.category-bottom-wrap{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

.region-name{
	color: var(--color-primary-text);
	border: 1px solid var(--color-light-gray-text);
	flex: 20%;
	font-size: 12px;
	padding: 10px;
	cursor: pointer;
	transition: .3s ease-in-out all;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	border-radius: 5px;
}

.region-name:not(.selected-region):hover{
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}

.selected-region{
	border: 1px solid var(--color-primary);
	background-color: var(--color-primary);
	color: #ffffff;
}


@media only screen and (max-width : 800px) {
	.nav-container{
		flex-direction: column;
		align-items: initial;
	}
	.nav-left{
		flex:1;
		justify-content: space-between;
	}
	.toolbox{
		width: 160px;
	}
	.search-container{
		margin-top: 20px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.all-cities-title{
		display: none !important;
	}
	.location-select{
		width: 40px !important;
		border-radius: 10px 0 0 10px !important;
	}
	.logo-wrap {
		margin-left: 10px;
	}
	.filter-text{
		display: none !important;
	}
	.filters-box{
		width: 40px !important;
	}
	.search-button{
		border-radius: 0 10px 10px 0 !important;
		width: 40px !important;
		font-size: 15px !important;
	}
	.search-icon-label{
		display: block !important;
	}
	.search-text-label{
		display: none !important;
	}
	.category-wrap{
		padding-left: 10px;
		padding-right: 10px;
	}
	.category-angle-top {
		margin-left: 16px;
	}
	.region-name{
		flex: 30%;
	}
}

@media only screen and (max-width : 550px) {
	.nav-container, .category-wrap{
		width: 100%;
	}
}

@media only screen and (max-width : 400px){
	.link-label{
		display: none;
	}
}